@import "./global";

/* J'ai modifié node_modules\tailwindcss\lib\css\preflight.css pour comments le reset de la taille des headers car il bloquait l'apply sur les titres */

@layer components {
  
  .hover-underline-animation {
      display: inline-block;
      position: relative;
      cursor: pointer;
      
    }
    
    .hover-underline-animation::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: rgb(153 27 27);
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;

    }
    
    .hover-underline-animation:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply  rounded-full ;
  
}

::-webkit-scrollbar-thumb {
  @apply bg-blog-marron-reflet rounded-full shadow-2xl shadow-blog-marron-reflet ;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-blog-marron-fond;
}